body {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
     font-family: "Poppins", sans-serif;
}


.main-wrapper {
    position: relative;
    overflow-x: hidden
}

ul,
ol,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: #000
}

a:hover {
    text-decoration: none;
    color: #000
}

a:focus,
input:focus,
button:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none;
}

input {
    border: none
}

img {
    max-width: 100%;
    display: block
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
    margin-bottom: 0;
    font-family: "Barlow Condensed", sans-serif;
}

h1,
.h1 {
    font-size: 64px;
    line-height: 110%;
}

h2,
.h2 {
    font-size: 48px;
    line-height: 100%;
}

h3,
.h3 {
    font-size: 28px;
    line-height: 30px;
}

h4,
.h4 {
    font-size: 26px;
    line-height: 32px;
}

h5,
.h5 {
    font-size: 22px;
    line-height: 30px;
}

h6,
.h6 {
    font-size: 16px;
    line-height: 24px;
}


p {
    margin-bottom: 16px;
}


p:last-child {
    margin-bottom: 0 !important;
}

button {
    border: none;
    transition: all 0.4s ease 0s;
    background: transparent
}

.container {
    max-width: 1260px
}

.container.wide {
    max-width: 1360px;
}

section,
.section {
    padding: 100px 0
}

.cta-btn {
    display: inline-block;
    border: 1px solid #000;
    padding: 10px 30px;
    color: #000;
}

.cta-btn:hover {
    color: #000;
}

.btn_fill {
    background: #F52921;
    color: #fff;
    padding: 14px 32px;
    border-radius: 28px;
}

.btn_fill:hover {
    color: #fff;
    background: #d62720
}

.section-heading .heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 50px;
    color: #0B0909;
}
.section-heading.text-center .heading{
    position: relative;
    display: inline-block;
    margin-bottom: 70px
}
.section-heading.text-center .heading::before{
    position: absolute;
    content: "";
    width: 270px;
    height: 10px;
    background-image: url(../img/heading-shape.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px
}
.section-heading .title {
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 100%;
    color: #F52921;
    margin-bottom: 16px
}

.section-heading p {
    margin-bottom: 56px !important
}

.title {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
}


/* 02. Header Css */

.header-blk-bg{
    background: #000;
    padding: 10px 0
}
.header-blk-bg-inn{
    display: flex;
    align-items: center;
    justify-content: space-between
}
.header-blk-bg-left span{
    display: flex;
    align-items: center
}
.header-blk-bg-left span img{
    margin-right: 5px
}
.header-blk-bg-left span p{
    color: #fff;
    font-size: 16px
}
.header-blk-bg-right ul{
    display: flex;
    align-items: center
}
.header-blk-bg-right ul li{
    margin-right: 25px
}
.header-blk-bg-right ul li:last-child{
    margin-right: 0
}
.header-wht-bg{
    background: #fff;
    padding: 15px 0
}
.header-wht-inn{
    display: flex;
    align-items: center;
    justify-content: space-between
}

.header-menu ul li{
    display: inline-block;
    margin-right: 20px
}
.header-menu ul li a {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    font-family: "Barlow Condensed", sans-serif;
}
.header-menu ul li:last-child{
    margin-right: 0
}
.header-action ul {
    display: flex;
    align-items: center
}
.header-action ul li{
    margin-left: 20px
}
.header-action ul li:first-child{
    margin-left: 0
}

/* 03. Hero Css */
.hero-area{
    background-image: url(../img/hero-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.hero-text .title {
    font-family: "Bai Jamjuree", sans-serif;
    text-transform: uppercase;
    font-style: italic;
    font-size: 20px;
    letter-spacing: 1.5px;
    font-weight: 600;
    line-height: 100%;
    color: #fff
}
.hero-text .heading {
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 10px;
    left: 40px;
    position: relative;
    color: #fff;
    font-family: "Bai Jamjuree", sans-serif;
}
.hero-text .cta-btn{
    border: 1px solid #fff;
    color: #fff;
    margin-top: 30px
}
.hero-text .shape {
    margin-top: -20px;
}
.hero-img img{
    width: 100%
}

.speciality-area{
    padding: 25px 0;
    background: #F5F5F5
}
.single-speciality-box img{
    width: 80px;
    margin: 0 auto
}
.single-speciality-box .title{
    text-align: center;
    margin-top: 10px;
}







