body {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    font-family: "Poppins", sans-serif;
}


.main-wrapper {
    position: relative;
    overflow-x: hidden
}

ul,
ol,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: #000
}

a:hover {
    text-decoration: none;
    color: #000
}

a:focus,
input:focus,
button:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none;
}

input {
    border: none
}

img {
    max-width: 100%;
    display: block
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
    margin-bottom: 0;
    font-family: "Barlow Condensed", sans-serif;
}

h1,
.h1 {
    font-size: 64px;
    line-height: 110%;
}

h2,
.h2 {
    font-size: 48px;
    line-height: 100%;
}

h3,
.h3 {
    font-size: 28px;
    line-height: 30px;
}

h4,
.h4 {
    font-size: 26px;
    line-height: 32px;
}

h5,
.h5 {
    font-size: 22px;
    line-height: 30px;
}

h6,
.h6 {
    font-size: 16px;
    line-height: 24px;
}


p {
    margin-bottom: 16px;
}


p:last-child {
    margin-bottom: 0 !important;
}

button {
    border: none;
    transition: all 0.4s ease 0s;
    background: transparent
}

.container {
    max-width: 1260px
}

.container.wide {
    max-width: 1360px;
}

section,
.section {
    padding: 100px 0
}

.cta-btn {
    display: inline-block;
    border: 1px solid #000;
    padding: 10px 30px;
    color: #000;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 0.5px;
    font-weight: 500;
}

.cta-btn:hover {
    color: #E33D3C;
    ;
    border: 1px solid #E33D3C;
}

.btn_fill {
    background: #000;
    color: #fff;
    padding: 14px 40px;
    display: inline-block;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 0.5px;
    font-weight: 500
}

.btn_fill:hover {
    color: #fff;
    background: #E33D3C;
}

.section-heading .heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 50px;
    color: #0B0909;
    text-transform: uppercase
}

.section-heading.text-center .heading {
    position: relative;
    display: inline-block;
    margin-bottom: 70px
}

.section-heading.text-center .heading::before {
    position: absolute;
    content: "";
    width: 270px;
    height: 10px;
    background-image: url(../img/heading-shape.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px
}

.section-heading .title {
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 100%;
    color: #000;
    margin-bottom: 5px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600
}



.title {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
}


/* 02. Header Css */

.header-blk-bg {
    background: #000;
    padding: 10px 0
}

.header-blk-bg-inn {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.header-blk-bg-left span {
    display: flex;
    align-items: center
}

.header-blk-bg-left span img {
    margin-right: 5px
}

.header-blk-bg-left span p {
    color: #fff;
    font-size: 16px
}

.header-blk-bg-right ul {
    display: flex;
    align-items: center
}

.header-blk-bg-right ul li {
    margin-right: 20px
}

.header-blk-bg-right ul li:last-child {
    margin-right: 0
}

.header-blk-bg-right ul li a {
    color: #fff;
    font-size: 20px;
}

.header-blk-bg-right ul li a:hover {
    color: #E33D3C
}

.header-wht-bg {
    background: #fff;
    padding: 15px 0
}

.header-wht-inn {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.header-menu ul li {
    display: inline-block;
    margin-right: 20px
}

.header-menu ul li a {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    font-family: "Barlow Condensed", sans-serif;
}

.header-menu ul li:last-child {
    margin-right: 0
}

.header-action ul {
    display: flex;
    align-items: center
}

.header-action ul li {
    margin-left: 30px
}

.header-action ul li:first-child {
    margin-left: 0
}

.header-action ul li a {
    font-size: 20px
}

/* 03. Hero Css */
.hero-area {
    background-image: url(../img/hero-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text .title {
    font-family: "Bai Jamjuree", sans-serif;
    text-transform: uppercase;
    font-style: italic;
    font-size: 20px;
    letter-spacing: 1.5px;
    font-weight: 600;
    line-height: 100%;
    color: #fff
}

.hero-text .heading {
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 10px;
    left: 40px;
    position: relative;
    color: #fff;
    font-family: "Bai Jamjuree", sans-serif;
}

.hero-text .cta-btn {
    border: 1px solid #fff;
    color: #fff;
    margin-top: 30px
}

.hero-text .cta-btn:hover {
    border: 1px solid #E33D3C;
    color: #E33D3C
}

.hero-text .shape {
    margin-top: -20px;
}

.hero-img img {
    width: 100%
}

/* 03. Product Css */
.product-banner-img {
    position: relative;
    overflow: hidden
}

.product-banner-img img {
    transition: all 0.4s ease
}

.product-main-banner {
    background-image: url(../img/product-bg.webp)
}

.product-banner-box:hover .product-banner-img img {
    transform: scale(1.08)
}

.product-banner-text {
    background-color: hsla(0, 0%, 100%, .85);
    margin: -15% auto 0;
    max-width: 85%;
    padding-top: 15px;
    position: relative;
    z-index: 9
}

.product-banner-text span {
    color: #999;
    font-size: 12px;
    font-weight: 500;
    transition: all 0.4s ease;
    line-height: 100%
}

.product-banner-box:hover .product-banner-text span {
    color: #E33D3C
}

.speciality-area {
    padding: 30px 0;
    background: #000;
}

.single-speciality-box img {
    width: 60px;
    margin: 0 auto
}

.single-speciality-box .title {
    text-align: center;
    margin-top: 15px;
    color: #fff;
    letter-spacing: 1.5px
}

.single-product-box-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.single-product-box-img {
    position: relative;
    overflow: hidden
}

.single-product-box-img::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(129, 128, 128, 0.1);
    transition: all 0.3s ease
}

.single-product-box:hover .single-product-box-img::before {
    top: -100%
}

.single-product-box .product-cart a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #000;
    padding: 5px 0
}

.single-product-box:hover .product-cart a {
    background: #E33D3C
}

.single-product-box .product-cart span {
    color: #fff;
    margin-left: 5px;
    font-size: 16px;
    font-weight: 600;
    font-family: "Barlow Condensed", sans-serif;
}

.single-product-box-text ul li {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    font-family: "Barlow Condensed", sans-serif;
}

.single-product-box-text ul li:first-child {
    margin-right: 10px
}

.single-product-box-text ul li span {
    text-decoration: line-through;
    color: #999
}

.single-product-box-text .title {
    margin-bottom: 5px
}

.single-product-box-text {
    padding: 10px 0;
    background: #fff;
    display: block
}

.single-product-box {
    -webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);
}

.pro-left-main {
    background-image: url(../img/product-m.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin-bottom: -30px
}

.category-left-main {
    background-image: url(../img/product-m-2.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin-bottom: -30px;
}

.product-area {
    background-image: url(../img/product-bg.webp);
    background-repeat: no-repeat;
    background-size: cover
}

.product-slider .single-product-box-img img {
    width: 100%;
    height: 300px;
    object-fit: cover
}

.product-slider .single-product-box {
    margin-bottom: 25px
}
.product-slider .owl-nav.disabled{
    display: block !important
}
.product-slider{
    position: relative
}
.product-slider .owl-next{
    position: absolute;
    top: 50%;
    right: -50px;
    transform: translateY(-50%)
}
.product-slider .owl-prev{
    position: absolute;
    top: 50%;
    left: -50px;
    transform: translateY(-50%);
}

.featured-products-area {
    background-image: url(../img/product-bg.webp);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.featured-products-area .single-product-box-img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.product-slider-area {
    background-image: url(../img/product-bg.webp);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
/* 04. Offer Css */

.offer-area {
    background-image: url(../img/offer.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 9;
    background-attachment: fixed;
}

.offer-area::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    top: 0;
    left: 0;
    z-index: -1
}

.offer-area .section-heading .heading {
    margin-bottom: 5px
}

.offer-area .section-heading p {
    color: #000;
    font-size: 16px;
    font-weight: 500
}

.offer-text .title {
    font-size: 30px;
    font-weight: 600;
    margin: 15px 0
}

.offer-img img {
    width: 100%
}

/* 04. Service Css */
.service-box {
    display: flex;
    align-items: center;
}

.service-box-img img {
    width: 60px;
    margin-right: 15px;
    display: block
}

.service-box-text p {
    font-size: 14px;
    color: #999;
    line-height: 100%;
    margin-top: 10px
}

.service-inn {
    background-image: url(../img/service-bg.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 60px
}

.service-area {
    background-image: url(../img/product-bg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* 04. Footer Css */
.footer-area {
    background-image: url(../img/footer-bg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-top {
    padding: 100px 0;
    border-bottom: 1px solid #414141;
}

.footer-top-link .title {
    color: #fff;
    margin-bottom: 15px
}

.footer-top-link ul li {
    margin-bottom: 5px
}

.footer-top-link ul li:last-child {
    margin-bottom: 0
}

.footer-top-link ul li a {
    color: #999;
    font-size: 16px;
    line-height: 100%
}

.footer-top-link ul li a:hover {
    color: #E33D3C
}

.footer-support-box {
    display: flex;
    align-items: center
}

.footer-support-img img {
    margin-right: 20px;
    display: block;
    width: 60px
}

.footer-support-text h5 {
    color: #fff;
    font-size: 18px;
    font-weight: 500
}

.footer-support-text p {
    color: #999;
    font-size: 16px;
    margin-bottom: 0
}

.footer-support-text span {
    color: #E33D3C;
    font-size: 24px;
    font-weight: 600;
    font-family: "Barlow Condensed", sans-serif;
}

.footer-support-box.margin {
    margin-top: 30px
}

.footer-inner {
    padding: 80px 0
}

.footer-details-text .heading {
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 500
}

.footer-details-text p {
    color: #999;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 0
}

.footer-social {
    margin: 30px 0
}

.footer-social li {
    display: inline-block;
    margin-right: 20px
}

.footer-social li:last-child {
    margin-right: 0
}

.footer-social li a {
    color: #fff
}

.footer-social li a:hover {
    color: #E33D3C
}

.footer-details-text span {
    color: #999;
    font-size: 16px
}

.footer-details-text span a {
    color: #fff;
    display: inline-block;
    border-bottom: 1px solid #E33D3C;
    line-height: 120%;
}

.footer-newsletter .title {
    color: #fff;
    margin-bottom: 30px
}

.footer-newsletter form input {
    width: 69%;
    background: transparent;
    border-bottom: 1px solid #999;
    padding: 10px;
    font-size: 16px;
    color: #fff
}

.footer-newsletter form input::placeholder {
    color: #999
}

.footer-newsletter form button {
    width: 28%;
    margin-left: 10px
}

.footer-newsletter form .cta-btn {
    color: #fff;
    border: 1px solid #999
}

.footer-newsletter form .cta-btn:hover {
    background: #E33D3C;
    border: 1px solid #E33D3C
}

.footer-newsletter form .cta-btn span {
    margin-left: 15px;
    font-weight: 400;
    font-size: 14px
}

.footer-bottom-part {
    border-top: 1px solid #414141;
}

.footer-bottom-inn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0
}

.footer-bottom-left span {
    color: #999;
    font-size: 14px
}

.footer-bottom-left span a {
    color: #E33D3C
}


.breadcrumb-area{
    background-image: url(../img/bread-bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 9
}
.breadcrumb-area::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1
}
.breadcrumb-text .heading{
    font-size: 70px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px;
    letter-spacing: 2px
}
.breadcrumb-text ul li{
    display: inline-block;
    margin-right: 10px
}
.breadcrumb-text ul li a{
    color: #fff;
    font-size: 18px;
    text-transform: uppercase
}
.breadcrumb-text ul li a:hover{
    color: #E33D3C
}
.breadcrumb-text ul li span{
    color: #fff
}
.breadcrumb-text .home-btn{
    color: #fff;
    font-size: 16px;
    padding: 5px 8px;
    line-height: 100%;
    border: 1px solid #fff
}
.breadcrumb-text .home-btn:hover{
    color: #E33D3C;
    border: 1px solid #E33D3C
}
/* 06. About Css */


.about-left-img {
    position: relative
}

.about-left-img img {
    width: 100%
}

.about-img-slider {
    width: 70% !important;
    position: absolute;
    right: -100px;
    top: 50%;
    transform: translateY(-50%);
    border: 20px solid #fff
}

.about-text .cta-btn {
    margin-top: 15px
}


/* 08. Video css */

.video-area .container {
    position: relative;
}

.video-area .container::after {
    background-image: url(../img/video-shape.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    content: "";
    top: -100px;
    right: 0;
    width: 40%;
    height: 100%;
    z-index: -1;
    opacity: 0.5
}
.video-inn{
    position: relative
}
.video-inn::before{
     position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5)
}
.video-inn .video-main {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 9
}

.video-main a {
    color: #fff
}

.video-inn .video {
    height: 65px;
    width: 65px;
    line-height: 65px;
    text-align: center;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    background: #E33D3C;
    z-index: 999;
    font-size: 20px;
}

@-webkit-keyframes waves {
    0% {
        -webkit-transform: scale(0.2, 0.2);
        transform: scale(0.2, 0.2);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }

    50% {
        opacity: 0.9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }

    100% {
        -webkit-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

@keyframes waves {
    0% {
        -webkit-transform: scale(0.2, 0.2);
        transform: scale(0.2, 0.2);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }

    50% {
        opacity: 0.9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }

    100% {
        -webkit-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

.fa-play:before {
    content: "\f04b";
}

.waves {
    position: absolute;
    width: 165px;
    height: 165px;
    background: rgba(227, 61, 60, 0.4);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    border-radius: 100%;
    right: -50px;
    bottom: -50px;
    z-index: -1;
    -webkit-animation: waves 3s ease-in-out infinite;
    animation: waves 3s ease-in-out infinite;
}

.wave-1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.wave-2 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.wave-3 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

/* 16. Team css */

.team-area {
	background-image: url(../img/product-bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.single-team-box {
	margin-top: 30px;
	padding: 10px;
	border-radius: 5px;
	position: relative
}

.team-image img {
	border-radius: 5px
}

.team-image {
	position: relative;
	overflow: hidden;
	border-radius: 5px;
	z-index: -1;
}

.team-image:after {
	background: -webkit-linear-gradient(top, transparent 0%, black 100%);
	background: linear-gradient(to bottom, transparent 0%, black 100%);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50%;
	border-radius: 5px;
	-webkit-transition: height 0.2s ease-out;
	transition: height 0.2s ease-out;
}

.team-image:before {
	background: -webkit-linear-gradient(top, transparent 0%, #000000 100%);
	background: linear-gradient(to bottom, transparent 0%, #000000 100%);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0%;
	border-radius: 5px;
	-webkit-transition: height 0.5s ease-out;
	transition: height 0.5s ease-out;
}

.team-meta {
	position: absolute;
	bottom: 20px;
	z-index: 1;
	width: 100%;
	text-align: left;
	padding: 0 30px;
	color: #fff;
    text-align: center
}

.team-meta h4 {
	color: #fff;
	text-transform: capitalize;
	font-weight: 500;
	margin: 0;
}

.team-meta p {
	color: #d1d1d1;
	margin: 0
}

.single-team-box:before {
	content: '';
	display: block;
	position: absolute;
	height: 0%;
	width: 100%;
	top: 0;
	-webkit-transition: height 0.5s ease-out;
	transition: height 0.5s ease-out;
	background: -webkit-linear-gradient(180, rgba(0, 0, 0, 0.1) 0%, #E33D3C 100%);
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, #E33D3C 100%);
	left: 0;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	z-index: -1;
	border-radius: 5px
}

.single-team-box:hover:before {
	height: 100%;
}

.single-team-box:hover .team-image:after {
	height: 0
}

.single-team-box:hover .team-image:before {
	height: 40%;
}

.team-page-area .site-heading {
	margin-bottom: 0
}



.mission-area .col-lg-6{
    padding: 0
}
.mission-area .story-text{
    padding: 0 30px
}
.mission-area .values-text{
    padding: 0 30px
}



















